# Lab 1: time series forecast with Amazon SageMaker Canvas
This notebook shows how to use no code AutoML [Amazon SageMaker Canvas](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas.html) to train models and generate predictions without needing to write any code.

You can train a Canvas custom model for time series forecasting. Canvas time series model training uses the [Sagemaker Autopilot](https://docs.aws.amazon.com/sagemaker/latest/dg/autopilot-automate-model-development.html), which enables the use of various Autopilot’s public APIs. These include operations like `CreateAutoMLJobV2`, `ListCandidatesForAutoMLJob`, and `DescribeAutoMLJobV2` among others. This integration facilitates a streamlined process for training machine learning models directly within the Canvas environment.

Canvas automatically trains candidate models using these [time series forecasting algorithms](https://docs.aws.amazon.com/sagemaker/latest/dg/timeseries-forecasting-algorithms.html) and then creates a model ensemble as a final model.

In this notebook you learn how to use Canvas features to explore and process data and how to train a time series model in different build modes.

<div class="alert alert-info">
While working with Canvas, you don't need to write any code or use Jupyter notebooks. This notebook is only for instructions and to download a time series dataset.
</div>

## Setup notebook environment

In [34]:
import boto3
import zipfile
import sagemaker
import os
import numpy as np
import pandas as pd

sagemaker.__version__

'2.229.0'

In [8]:
sagemaker_session = sagemaker.Session()
region = sagemaker_session.boto_region_name


s3_bucket = sagemaker_session.default_bucket()  # replace with an existing bucket if needed
s3_prefix = "canvas-demo-notebook" 
s3_data_path = f"s3://{s3_bucket}/{s3_prefix}/data"

## Prepare the data

All notebooks in this workshop using the same dataset. It makes possible to compare model metrics across different approaches. 

You use the [electricity dataset](https://archive.ics.uci.edu/ml/datasets/ElectricityLoadDiagrams20112014) from the repository of the University of California, Irvine:
> Trindade, Artur. (2015). ElectricityLoadDiagrams20112014. UCI Machine Learning Repository. https://doi.org/10.24432/C58C86.

Download the from the SageMaker example S3 bucket.

### Download the dataset

In [28]:
dataset_zip_file_name = "LD2011_2014.txt.zip"
dataset_file_name = dataset_zip_file_name.split('.')[0]
s3_dataset_path = f"datasets/timeseries/uci_electricity/{dataset_zip_file_name}"

In [10]:
os.makedirs("./data", exist_ok=True)

s3_client = boto3.client("s3")
s3_client.download_file(
    f"sagemaker-example-files-prod-{region}", s3_dataset_path, f"./data/{dataset_zip_file_name}"
)

In [11]:
zip_ref = zipfile.ZipFile(f"./data/{dataset_zip_file_name}", "r")
zip_ref.extractall("./data")
zip_ref.close()
dataset_path = '.'.join(zip_ref.filename.split('.')[:-1])

In [15]:
# see what is inside the file
!head -n 2 {dataset_path}

"";"MT_001";"MT_002";"MT_003";"MT_004";"MT_005";"MT_006";"MT_007";"MT_008";"MT_009";"MT_010";"MT_011";"MT_012";"MT_013";"MT_014";"MT_015";"MT_016";"MT_017";"MT_018";"MT_019";"MT_020";"MT_021";"MT_022";"MT_023";"MT_024";"MT_025";"MT_026";"MT_027";"MT_028";"MT_029";"MT_030";"MT_031";"MT_032";"MT_033";"MT_034";"MT_035";"MT_036";"MT_037";"MT_038";"MT_039";"MT_040";"MT_041";"MT_042";"MT_043";"MT_044";"MT_045";"MT_046";"MT_047";"MT_048";"MT_049";"MT_050";"MT_051";"MT_052";"MT_053";"MT_054";"MT_055";"MT_056";"MT_057";"MT_058";"MT_059";"MT_060";"MT_061";"MT_062";"MT_063";"MT_064";"MT_065";"MT_066";"MT_067";"MT_068";"MT_069";"MT_070";"MT_071";"MT_072";"MT_073";"MT_074";"MT_075";"MT_076";"MT_077";"MT_078";"MT_079";"MT_080";"MT_081";"MT_082";"MT_083";"MT_084";"MT_085";"MT_086";"MT_087";"MT_088";"MT_089";"MT_090";"MT_091";"MT_092";"MT_093";"MT_094";"MT_095";"MT_096";"MT_097";"MT_098";"MT_099";"MT_100";"MT_101";"MT_102";"MT_103";"MT_104";"MT_105";"MT_106";"MT_107";"MT_108";"MT_109";"MT_110";"MT_111";"MT_112";"MT_113";"MT_114";"MT_115";"MT_116";"MT_117";"MT_118";"MT_119";"MT_120";"MT_121";"MT_122";"MT_123";"MT_124";"MT_125";"MT_126";"MT_127";"MT_128";"MT_129";"MT_130";"MT_131";"MT_132";"MT_133";"MT_134";"MT_135";"MT_136";"MT_137";"MT_138";"MT_139";"MT_140";"MT_141";"MT_142";"MT_143";"MT_144";"MT_145";"MT_146";"MT_147";"MT_148";"MT_149";"MT_150";"MT_151";"MT_152";"MT_153";"MT_154";"MT_155";"MT_156";"MT_157";"MT_158";"MT_159";"MT_160";"MT_161";"MT_162";"MT_163";"MT_164";"MT_165";"MT_166";"MT_167";"MT_168";"MT_169";"MT_170";"MT_171";"MT_172";"MT_173";"MT_174";"MT_175";"MT_176";"MT_177";"MT_178";"MT_179";"MT_180";"MT_181";"MT_182";"MT_183";"MT_184";"MT_185";"MT_186";"MT_187";"MT_188";"MT_189";"MT_190";"MT_191";"MT_192";"MT_193";"MT_194";"MT_195";"MT_196";"MT_197";"MT_198";"MT_199";"MT_200";"MT_201";"MT_202";"MT_203";"MT_204";"MT_205";"MT_206";"MT_207";"MT_208";"MT_209";"MT_210";"MT_211";"MT_212";"MT_213";"MT_214";"MT_215";"MT_216";"MT_217";"MT_218";"MT_219";"MT_220";"MT_221";"MT_222";"MT_223";"MT_224";"MT_225";"MT_226";"MT_227";"MT_228";"MT_229";"MT_230";"MT_231";"MT_232";"MT_233";"MT_234";"MT_235";"MT_236";"MT_237";"MT_238";"MT_239";"MT_240";"MT_241";"MT_242";"MT_243";"MT_244";"MT_245";"MT_246";"MT_247";"MT_248";"MT_249";"MT_250";"MT_251";"MT_252";"MT_253";"MT_254";"MT_255";"MT_256";"MT_257";"MT_258";"MT_259";"MT_260";"MT_261";"MT_262";"MT_263";"MT_264";"MT_265";"MT_266";"MT_267";"MT_268";"MT_269";"MT_270";"MT_271";"MT_272";"MT_273";"MT_274";"MT_275";"MT_276";"MT_277";"MT_278";"MT_279";"MT_280";"MT_281";"MT_282";"MT_283";"MT_284";"MT_285";"MT_286";"MT_287";"MT_288";"MT_289";"MT_290";"MT_291";"MT_292";"MT_293";"MT_294";"MT_295";"MT_296";"MT_297";"MT_298";"MT_299";"MT_300";"MT_301";"MT_302";"MT_303";"MT_304";"MT_305";"MT_306";"MT_307";"MT_308";"MT_309";"MT_310";"MT_311";"MT_312";"MT_313";"MT_314";"MT_315";"MT_316";"MT_317";"MT_318";"MT_319";"MT_320";"MT_321";"MT_322";"MT_323";"MT_324";"MT_325";"MT_326";"MT_327";"MT_328";"MT_329";"MT_330";"MT_331";"MT_332";"MT_333";"MT_334";"MT_335";"MT_336";"MT_337";"MT_338";"MT_339";"MT_340";"MT_341";"MT_342";"MT_343";"MT_344";"MT_345";"MT_346";"MT_347";"MT_348";"MT_349";"MT_350";"MT_351";"MT_352";"MT_353";"MT_354";"MT_355";"MT_356";"MT_357";"MT_358";"MT_359";"MT_360";"MT_361";"MT_362";"MT_363";"MT_364";"MT_365";"MT_366";"MT_367";"MT_368";"MT_369";"MT_370"
"2011-01-01 00:15:00";0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;71,7703349282297;0;0;0;0;0;0;260,416666666667;45,7217504898759;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;68,203368683718;0;38,3422459893048;20,3639846743295;0;1935,18518518519;158,006362672322;1965,43778801843;0;0;838,461538461538;0;50,7562076749436;24,5706051873199;0;137,885196374622;80,7970112079701;0;74,5622119815668;76,7927631578947;41,4825870646766;0;0;0;93,2917316692668;0;39,5888594164456;45,7174556213018;0;0;0;13,4228187919463;22,123745819398;205,83596214511;327,859237536657;920,863309352518;285,607755406413;266,521026761333;1826,27118644068;218,274111675127;12166,6666666667;76,6129032258064;148,867313915858;272,935779816514;428,4140969163;173,089071383449;235,492957746479;319,354838709677;447,761194029851;288,135593220339;110,538373424971;345,578231292517;4235,29411764706;260,9375;472,868217054264;84;232,558139534884;603,036876355748;199,59266802444;207,532051282051;1328,90365448505;113,074204946996;680,529300567108;204,301075268817;1278,48101265823;81,7282665278501;444;517,333333333333;0;189,121951219512;325,833979829325;228,249744114637;3263,15789473684;582,689335394127;62,219730941704;380,41095890411;58,1481481481481;84,9247822644497;38,1087202718007;450,980392156863;98,5981308411215;54,0771349862259;223,275;53,2958199356913;200,746987951807;1395,06172839506;141,621621621622;73,9856801909308;86,6145354185833;131,35632183908;374,066390041494;224,932249322493;83,5738068812431;42,9345238095238;46,6860841423948;56,2907536076964;130,843558282209;230,562180579216;138,575342465753;0;77,8375912408759;87,6579925650557;71,096214511041;113,529411764706;89,4857142857143;42,0757575757576;99,2836676217765;86,9559585492228;126,034669555796;108,494868871152;182,599277978339;39,6375990939977;165,638506876228;561,828571428571;32,091705306543;90,6782215523738;107,06932052162;261,261261261261;181,818181818182;70,9570041608876;922,277227722772;53,8353863381859;49,3966151582046;10278,3333333333;0;71,8457802064359;52,293956043956;151,675749318801;45,187969924812;53,7976782752902;63,2739804709937;81,998031496063;40,7420924574209;0;318,15331010453;83,695652173913;160,564334085779;74,2053930005737;393,885135135135;156,536144578313;47,8844862323707;77,7155172413793;860,882352941176;260,26936026936;100,027198549411;74,4064093226511;76,7471819645733;95,4868154158215;33,5876993166287;0;36,7447784004075;364,769230769231;0;152,728731942215;333,183856502242;100,250240615977;203,90625;104,485006518905;814,606741573034;72,6169749727965;167,829181494662;269,818731117825;93,3640081799591;47,336089781453;62,5195094760312;56,7608861726509;0;1003,78048780488;247,095070422535;177,559912854031;147,543640897756;264,11575562701;644,444444444444;135,514705882353;45,08125;129,62962962963;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0

### Preprocess data

In [35]:
df_raw = pd.read_csv(
    dataset_path, 
    sep=';', 
    index_col=0,
    decimal=',',
    parse_dates=True,
)

In [37]:
# resample to 2h intervals
freq = "2H"
data_kw = df_raw.resample(freq).sum() / 8

In [38]:
data_kw

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
2011-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-01 02:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-01 04:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-01 06:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2011-01-01 08:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-31 16:00:00,2.379442,28.538407,1.954822,160.569106,67.225610,260.416667,7.560769,352.693603,75.830420,53.897849,...,439.864383,40675.0,2816.983122,3980.113636,127.933507,7.753072,504.938543,118.948247,703.445748,12033.783784
2014-12-31 18:00:00,2.220812,28.449502,2.172024,208.587398,91.310976,385.788690,12.719050,359.427609,95.498252,84.408602,...,425.053533,43300.0,2793.776371,3454.545455,105.606258,5.266238,500.877963,47.787980,706.011730,9554.054054
2014-12-31 20:00:00,2.379442,24.004267,1.737619,174.288618,89.176829,330.357143,11.447145,292.508418,84.134615,75.806452,...,330.389008,39137.5,1676.160338,1857.954545,74.967405,4.169105,420.654083,131.886477,675.219941,8344.594595
2014-12-31 22:00:00,2.062183,21.692745,1.737619,161.331301,85.365854,311.383929,11.023177,251.262626,68.181818,72.446237,...,289.079229,31775.0,1591.244726,1303.977273,46.284224,7.533645,665.605795,178.422371,669.263196,7263.513514
2015-01-01 00:00:00,0.317259,2.489331,0.217202,22.357724,10.518293,34.970238,1.271905,31.144781,7.867133,8.736559,...,23.554604,3475.0,176.160338,119.318182,3.422425,0.511995,78.577700,16.485810,84.127566,891.891892

In [40]:
columns_to_keep = np.random.randint(1, data_kw.shape[1], size=2).tolist()
columns_to_keep

[332, 88]

In [41]:
data_kw_small = data_kw.iloc[:, columns_to_keep]
data_kw_small

                         MT_333      MT_089
2011-01-01 00:00:00    0.000000    0.000000
2011-01-01 02:00:00    0.000000    0.000000
2011-01-01 04:00:00    0.000000    0.000000
2011-01-01 06:00:00    0.000000    0.000000
2011-01-01 08:00:00    0.000000    0.000000
...                         ...         ...
2014-12-31 16:00:00  120.360825  263.888889
2014-12-31 18:00:00  150.128866  346.891534
2014-12-31 20:00:00  144.201031  346.560847
2014-12-31 22:00:00   71.649485  323.743386
2015-01-01 00:00:00    6.378866   39.021164

[17533 rows x 2 columns]

In [44]:
def stack_timeseries(df, ts_name, var_name, value_name):
    # Melt the DataFrame
    melted_df = pd.melt(
        df.reset_index(),
        id_vars='index', 
        value_vars=df.columns, 
        var_name=var_name, 
        value_name=value_name
    )
    
    # Rename the 'index' column to 'timestamp'
    return melted_df.rename(columns={'index': ts_name})

In [47]:
stacked_df = stack_timeseries(data_kw, 'ts', 'mt_id', 'consumption')
stacked_df

                         ts   mt_id   consumption
0       2011-01-01 00:00:00  MT_001      0.000000
1       2011-01-01 02:00:00  MT_001      0.000000
2       2011-01-01 04:00:00  MT_001      0.000000
3       2011-01-01 06:00:00  MT_001      0.000000
4       2011-01-01 08:00:00  MT_001      0.000000
...                     ...     ...           ...
6487205 2014-12-31 16:00:00  MT_370  12033.783784
6487206 2014-12-31 18:00:00  MT_370   9554.054054
6487207 2014-12-31 20:00:00  MT_370   8344.594595
6487208 2014-12-31 22:00:00  MT_370   7263.513514
6487209 2015-01-01 00:00:00  MT_370    891.891892

[6487210 rows x 3 columns]

In [48]:
stacked_df_small = stack_timeseries(data_kw_small, 'ts', 'mt_id', 'consumption')
stacked_df_small

                       ts   mt_id  consumption
0     2011-01-01 00:00:00  MT_333     0.000000
1     2011-01-01 02:00:00  MT_333     0.000000
2     2011-01-01 04:00:00  MT_333     0.000000
3     2011-01-01 06:00:00  MT_333     0.000000
4     2011-01-01 08:00:00  MT_333     0.000000
...                   ...     ...          ...
35061 2014-12-31 16:00:00  MT_089   263.888889
35062 2014-12-31 18:00:00  MT_089   346.891534
35063 2014-12-31 20:00:00  MT_089   346.560847
35064 2014-12-31 22:00:00  MT_089   323.743386
35065 2015-01-01 00:00:00  MT_089    39.021164

[35066 rows x 3 columns]

In [61]:
stacked_df.to_csv('./data/canvas_ts_full.csv', index=False, header=True)
stacked_df_small.to_csv('./data/canvas_ts_small.csv', index=False, header=True)

### Upload to S3

In [62]:
!aws s3 rm {s3_data_path}/ --recursive

delete: s3://sagemaker-us-east-1-906545278380/canvas-demo-notebook/data/canvas_ts_small.csv

In [63]:
# upload the datasets to S3
!aws s3 cp ./data/canvas_ts_full.csv {s3_data_path}/
!aws s3 cp ./data/canvas_ts_small.csv {s3_data_path}/

upload: data/canvas_ts_full.csv to s3://sagemaker-us-east-1-906545278380/canvas-demo-notebook/data/canvas_ts_full.csv
upload: data/canvas_ts_small.csv to s3://sagemaker-us-east-1-906545278380/canvas-demo-notebook/data/canvas_ts_small.csv

In [64]:
!aws s3 ls {s3_data_path}/

2024-08-22 20:22:27  274368348 canvas_ts_full.csv
2024-08-22 20:22:30    1465531 canvas_ts_small.csv

In [57]:
print(f"The dataset S3 path: {s3_data_path}/")

The dataset S3 path: s3://sagemaker-us-east-1-906545278380/canvas-demo-notebook/data/

## Train models in Amazon SageMaker Canvas

### Start Canvas

Log in to SageMaker Canvas from SageMaker Studio by following [this instructions](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-getting-started.html#canvas-getting-started-step1).

### Experiment 1: load and explore time series

[Import data into Canvas](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-importing-data.html)

[Import tabular data](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-import-dataset.html#canvas-import-dataset-tabular)

As the data source choose Amazon S3 and use the S3 bucket and path printed by the previous code cell.

You must import at least one dataset - the small one `canvas_ts_small.csv`. Optionally you can repeat import operation and create a new dataset in Canvas with the data from the full time series dataset - `canvas_ts_full.csv`.

If you created two datasets, you will have them in the dataset list in Canvas. Note the size of the datasets:

![](../img/canvas-datasets.png)


[Prepare data](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-data-prep.html)

[Create a Data Flow](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-data-flow.html)

#### Visualizations

[Detect anomalies in time series data](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-analyses.html#canvas-time-series-anomaly-detection)

[Seasonal trend decomposition in time series data](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-analyses.html#canvas-seasonal-trend-decomposition)

#### Transformations

[Transform Time Series](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-transform.html#canvas-transform-time-series)

[Chat for data prep](https://docs.aws.amazon.com/sagemaker/latest/dg/canvas-chat-for-data-prep.html)

### Experiment 2: quick build mode

Quick build is only available for datasets with less than 50.000 rows

![](img/canvas-model-overview.png)

In quick build mode Canvas trains one model. The model and metrics are captured in SageMaker Experiments.

See Experiments in Studio Classic:
![](img/experiments-quick-builld.png)

Predict:

![](img/canvas-predictions.png)

To generate predictions after you build a model in Canvas, Canvas automatically deploys an asynchronous SageMaker endpoint into your AWS account. The endpoint is temporary and Canvas uses it to generate single prediction. For batch predictions, Canvas starts a SageMaker batch transform job. The endpoint deployed by Canvas can be used only for in-app predictions and cannot be used outside Canvas.

### Experiment 3: standard build mode

Customizing model build:

![](img/canvas-configure-model-config.png)
![](img/canvas-configure-model-metric.png)
![](img/canvas-configure-model-quantiles.png)

In standard build mode Canvas trains the [six built-in algorithms]((https://docs.aws.amazon.com/sagemaker/latest/dg/timeseries-forecasting-algorithms.html)) with your target time series. Then, using a stacking ensemble method, it combines these model candidates to create an optimal forecasting model for a given objective metric.

All models and metrics are captured in SageMaker experiments.

See Experiments in Studio Classic:

![](img/experiments-standard-builld.png)

Predict:

![](img/canvas-predictions-standard-build.png)

### Experiment 4: share a model with SageMaker Studio

### Experiment 5: deploy the trained model as a SageMaker endpoint

To keep your model in a central model registry you can register the model directly from Canvas UX:

![](img/canvas-add-to-model-registry.png)

Canvas also shows the model package details:

![](img/model-registry-details.png)

You can now use "Model package group name" to have access to a model version via boto3 API.

---

## Clean up